{% extends 'base.html' %}

{% block content %}
<section id="feature">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">RECENTLY ADDED <br><span class="col_1">PROPERTIES</span></h4>
	</div>
   </div>
   <div class="feature_2 clearfix">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
					<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="{{ 5.jpg }}" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Apartment</a></h6>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">LoremM House Luxury Villa</a></h4>
            <h3 class="bold"><a href="#">$ 130,000/monthly </a></h3>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>

					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
					<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
				     <a href="#"><img src="{{ 4.jpg }}" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">For Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
					<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="{{6.jpg}}" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/6.jpeg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
					<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/8.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">For Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
					<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/9.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
                </div>
            </div>
        </div>
	<div class="feature_2_last text-center clearfix">
            <div class="col-sm-12">
                <!-- Controls -->
                <div class="controls">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>

   </div>
  </div>
 </div>
</section>

<section id="serv_home">
 <div class="serv_home_m clearfix">
   <div class="container">
  <div class="row">
    <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">PROPERTY <br><span class="col_1">SERVICES</span></h4>
	</div>
   </div>
    <div class="serv_home_1 clearfix">
    <div class="col-sm-4">
	   <div class="serv_home_1i clearfix">
	    <div class="serv_home_1i1 clearfix">
		 <h4 class="mgt col">Houses</h4>
		 <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
		 <h5><a class="col" href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
		</div>
		<div class="serv_home_1i2 clearfix">
		 <span><i class="fa fa-home"></i></span>
		</div>
	   </div>
	</div>
	<div class="col-sm-4">
	   <div class="serv_home_1i clearfix">
	    <div class="serv_home_1i1 clearfix">
		 <h4 class="mgt col">Apartments</h4>
		 <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
		 <h5><a class="col" href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
		</div>
		<div class="serv_home_1i2 clearfix">
		 <span><i class="fa fa-building-o"></i></span>
		</div>
	   </div>
	</div>
	<div class="col-sm-4">
	   <div class="serv_home_1i clearfix">
	    <div class="serv_home_1i1 clearfix">
		 <h4 class="mgt col">Commercial</h4>
		 <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
		 <h5><a class="col" href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
		</div>
		<div class="serv_home_1i2 clearfix">
		 <span><i class="fa fa-gear"></i></span>
		</div>
	   </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="feature_o">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">FEATURED <br><span class="col_1">PROPERTIES</span></h4>
	</div>
   </div>
   <div class="feature_2 clearfix">
    <div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/4.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
            <h3 class="bold"><a href="#">$ 130,000/monthly </a></h3>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
	<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/5.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">For Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
	<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/6.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
   </div>
   <div class="feature_2 clearfix">
    <div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/7.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
	<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/8.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_4" href="#">For Sale</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
	<div class="col-sm-4">
					 <div class="feature_2im clearfix">
					   	    <div class="feature_2im1 clearfix">
					     <a href="#"><img src="img/9.jpg" class="iw" alt="abc"></a>
					    </div>
							<div class="feature_2im2 clearfix">
							 <h6 class="mgt"><a class="bg_1" href="#">Featured</a></h6>
							 <h6 class="pull-right mgt"><a class="bg_2" href="#">For Rent</a></h6>
							</div>
							<div class="feature_2im4 clearfix">
							 <div class="col-sm-6 space_left">
							   <h6><a class="bg_3" href="#">Family Home</a></h6>
							 </div>
							 <div class="col-sm-6 feature_2im4r space_right">
							   <ul class="mgt">
								<li><a href="#"><i class="fa fa-link"></i></a></li>
								<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
								<li><a href="#"><i class="fa fa-photo"></i></a></li>
							   </ul>
							 </div>
							</div>
					 </div>
					 <div class="feature_2m_last clearfix">
					  <h4 class="mgt bold"><a href="#">Lorem House Luxury Villa</a></h4>
					  <p><i class="fa fa-map-marker"></i> Fst Su, 67 - Central Park North, OZD</p><br>
					  <h6><i class="fa fa-hotel col_1"></i> 4 Bedrooms <span class="pull-right"><i class="fa fa-building-o col_1"></i> 3 Bathrooms</span></h6>
					  <h6><i class="fa fa-object-group col_1"></i> 620 sq ft <span class="pull-right"><i class="fa fa-gear col_1"></i> 2 Garages</span></h6><br>
					  <h5 class="bold"><a href="#">$ 130,000 <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
					  <div class="feature_2m_last_i clearfix">
					    <h6><a href="#"><i class="fa fa-user"></i> Eget Nulla <span class="pull-right"><i class="fa fa-calendar"></i> 3 months ago</span></a></h6>
					  </div>
					 </div>
					</div>
   </div>
   <div class="feature_o_last clearfix">
    <div class="col-sm-12">
	 <h5 class="text-center mgt"><a class="button mgt" href="#">View All <i class="fa fa-long-arrow-right"></i></a></h5>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="popular">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">MOST POPULAR <br><span class="col_1">PLACES</span></h4>
	</div>
   </div>
   <div class="popular_1 clearfix">
    <div class="col-sm-4">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="img/11.jpg" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">Hamdallaye ACI</a></h4>
	   <h5><a class="col" href="#">213 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-8">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="img/12.jpg" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">Los Angeles</a></h4>
	   <h5><a class="col" href="#">283 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
   <div class="popular_1 clearfix">
	<div class="col-sm-8">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="img/13.jpg" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">America</a></h4>
	   <h5><a class="col" href="#">435 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="img/14.jpg" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">London</a></h4>
	   <h5><a class="col" href="#">343 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="team_h">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">MEET OUR <br><span class="col_1">AGENTS</span></h4>
	</div>
   </div>
   <div class="team_h_1 clearfix">
    <div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="img/15.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Arcu Eget</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="img/16.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Mauris Massa</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="img/17.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Ante Dapibus</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="img/18.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Nec Odio</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="news_h">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">LATEST <br><span class="col_1">NEWS</span></h4>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="img/19.jpg" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="img/20.jpg" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="img/21.jpg" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="img/22.jpg" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="user">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">HAPPY <br><span class="col_1">CUSTOMERS</span></h4>
	</div>
   </div>
   <div class="user_1 clearfix">
     <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1" class=""></li>
                    <li data-target="#Carousel" data-slide-to="2" class=""></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/27.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/28.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/29.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/30.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/31.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/32.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/33.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/34.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="img/35.jpg" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->

                </div><!--.carousel-inner-->
                </div>
   </div>

  </div>
 </div>
</section>

<section id="about_home">
 <div class="container">
  <div class="row">
   <div class="about_home_1 clearfix">
    <div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-home col_1"></i></span>
	   <h3 class="mgt">350 <br><span class="span_2">Sold Houses</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-list col_1"></i></span>
	   <h3 class="mgt">450 <br><span class="span_2">Daily Listings</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-users col_1"></i></span>
	   <h3 class="mgt">250 <br><span class="span_2">Expert Agents</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-trophy col_1"></i></span>
	   <h3 class="mgt">150 <br><span class="span_2">Won Awards</span></h3>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

{% endblock %}
