<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
     <div class="col-sm-3">
	  <div class="footer_1i clearfix">
	    <a class="navbar-brand" href="index.html"> <i class="fa fa-home"></i> <span> Prop Find</span> </a>
		<p class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam, perspiciatis, aspernatur officiis esse.</p>
		<h6 class="col_3"><i class="fa fa-map-marker col"></i> 65 North Park Avenue, USA</h6>
		<h6 class="col_3"><i class="fa fa-phone col"></i> +91 123 456 7890</h6>
		<h6 class="col_3"><i class="fa fa-envelope col"></i> info@gmail.com</h6>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_1i1 clearfix">
	    <h4 class="col">Navigation</h4>
		<h6><a class="col_3" href="#">Home One</a> <span class="pull-right"><a class="col_3" href="#">Agents Details</a></span></h6>
		<h6><a class="col_3" href="#">Properties Right</a> <span class="pull-right"><a class="col_3" href="#">About Us</a></span></h6>
		<h6><a class="col_3" href="#">Listings</a> <span class="pull-right"><a class="col_3" href="#">Blog Default</a></span></h6>
		<h6><a class="col_3" href="#">Properties Details</a> <span class="pull-right"><a class="col_3" href="#">Blog Details</a></span></h6>
		<h6><a class="col_3" href="#">Agents Listing</a> <span class="pull-right"><a class="col_3" href="#">Contact Us</a></span></h6>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  </div>
	  <div class="col-sm-3">
	  </div>
	 </div>
   <div class="footer_2 clearfix">
    <div class="col-sm-8">
	 <div class="footer_2l clearfix">
	  <p class="col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_2r text-right clearfix">
	   <ul class="social-network social-circle mgt">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
	 </div>
	</div>
   </div>
   </div>
  </div>
</section>
