<section id="center" class="center_home clearfix">
<div class="center_main clearfix">
 <div class="w3-content w3-section clearfix">
  <img class="mySlides w3-animate-top" src="{{ 1.jpg }}" alt="abc" style="width: 100%; display: none;">
  <img class="mySlides w3-animate-bottom" src="{{ 2.jpg }}" alt="abc" style="width: 100%; display: block;">
  <img class="mySlides w3-animate-top" src="{{ 3.jpg }}" alt="abc" style="width: 100%; display: none;">
</div>
 <div class="center_main_1 clearfix">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
   <div class="center_main_1r clearfix">
     <h5 class="mgt col">Property Status</h5>
	 <select class="form-control" name="property">
		<option value="">Any Status</option>
		<option value="for-sale">For Sale</option>
		<option value="for-rent">For Rent</option>
    </select>
	<h5 class="col">Property Type</h5>
	<select class="form-control" name="property">
		<option value="">Any Type</option>
		<option value="family-house">Family House</option>
		<option value="apartment">Apartment</option>
		<option value="condo">Condo</option>
    </select>
	<h5 class="col">Location</h5>
	<select class="form-control" name="Location">
		<option value="">Any Location</option>
		<option value="family-house">New York</option>
		<option value="apartment">Los Angeles</option>
		<option value="condo">Chicago</option>
		<option value="condo">Philadelphia</option>
		<option value="condo">San Francisco</option>
   </select>
   <h5 class="col">Price</h5>
	<select class="form-control" name="Price">
		<option value="">$54,000 - $130,000</option>
		<option value="family-house">$44,000 - $140,000</option>
		<option value="apartment">$74,000 - $150,000</option>
		<option value="condo">$84,000 - $160,000</option>
		<option value="condo">$94,000 - $170,000</option>
		<option value="condo">$44,000 - $120,000</option>
   </select>
   <div class="center_main_1ri clearfix">
    <div class="col-sm-6 space_left">
	 <h5 class="col">Beds</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
	<div class="col-sm-6 space_right">
	 <h5 class="col">Baths</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
   </div>
   <h5 class="text-center"><a class="button_1 block" href="#">SEARCH PROPERTY</a></h5>
   </div>
  </div>
 </div>
</div>
</section>
